.myl {
    color: #8cc63f;
}

.homeicons {
    font-size : 3rem;
    font-weight: 600;
}


.welcome-icons-details-1 {
    color : #8cc63f;
}

.welcome-icons-details-2 {
    color : #ffffff;
}

.welcome-icons-details-3 {
    color : #8cc63f;
}